@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fcol{
  @apply flex flex-col gap-2 mt-4
}
.lispace>li{
  @apply my-6
}

.code-snippet{
  @apply rounded p-2 text-xs bg-slate-900 border-l-4 border-blue-400 text-blue-100 font-mono wrap-break-word whitespace-pre-wrap
}

.testimonial-card-wrap{
  @apply bg-white rounded-xl shadow p-6 flex flex-col items-center border border-slate-200  max-w-[26rem]
}

.testimonial-icon{
  @apply w-16 h-16 rounded-full  flex items-center justify-center mb-3
}

.package-wrapper{
  @apply bg-white rounded-xl shadow p-6 flex flex-col items-center border border-slate-200 max-w-[26rem]
}

.txt{
  @apply ml-2 text-sm text-slate-600
}